<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Js</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>
    <style>
        ul{
            list-style: none;
        }
        ul li{
            padding: 0.5em 1em;
            margin-bottom: 1em;
        }
        .player-attack{
            color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;

        }
        .monster-attack{
            color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;

        }
    </style>
</head>

<body>
    <div id="app">


        <div class="jumbotron">
            <div class="container">
                <div class="bg-white rounded-sm p-5">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="text-center">Player Health: {{playerHealth}}</h4>
                            <br>
                            <div class="progress">
                                <div class="progress-bar bg-success" :style="{width: playerHealth + '%' }"  style="width:80%;"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h4 class="text-center">Monster Health: {{monsterHealth}}</h4>
                            <br>
                            <div class="progress">
                                <div class="progress-bar bg-success" :style="{width: monsterHealth + '%' }"></div>
                              </div>
                        </div>
                    </div>
                    <div class="shadow py-4 text-center my-3" v-if="!onGame">
                        <button class="btn btn-lg btn-success" @click="startGame">Start Fight</button>
                    </div>
                    <div class="shadow py-4 text-center my-3" v-else>
                        <button class="btn btn-lg btn-primary" @click="attack">Attack</button>
                        <button class="btn btn-lg btn-secondary" @click="heal">Heal</button>
                        <button class="btn btn-lg btn-warning" @click="splAttack">Special Attack</button>
                        <button class="btn btn-lg btn-danger" @click="quit">Quit</button>
                    </div>
                    <div class="shadow p-2" v-if="turns.length > 0">
                        <ul class="p-0">
                            <li v-for="turn in turns"
                                :class="{'player-attack' : turn.isPlayer, 'monster-attack' : !turn.isPlayer}">
                                {{turn.text}}
                            </li>
                        </ul>

                    </div>
                    <div class="alert alert-danger" role="alert" v-else>
                        Monster will Hit you every single click after the game start!
                      </div>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js"></script>
</body>

</html>
