<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Js</title>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>
    <style>
        .redOutline{
            border: 1px solid red;
        }
    </style>
</head>

<body>
    <div id="app" v-on:mousemove="updateCoordinate">
        <h1 v-once>{{title}}</h1>
        <p>{{ sayHello() }}</p>
        <a :href="link" >Google</a>
        <hr>
        <p v-html="completeLink"></p>
        <hr>
        <button v-on:click="counter">click - {{count}}</button>
        <button v-on:click="ResetCounter">Reset</button>
        <p :style="{backgroundColor : result}">{{result}}</p>
        <hr>
        <p>coordinate : {{x}} / {{y}} </p>
        <hr>
        <div @click="attachRed = !attachRed" :class="{redOutline : attachRed}">Click me to add a class</div>
        <hr>
        <ul>
            <li v-for="(fruit, index) in fruits">{{fruit}} {{index}}</li>
        </ul>
        <template v-for="person in persons">
            <div v-for="(value, key) in person">{{key}}{{value}}</div>
        </template>
        <template>
            <p v-if="condition">First condition</p>
            <p v-else>Sec condition</p>
            <button @click="condition = !condition">Switch</button>
        </template>

    </div>
    <script src="main.js"></script>
</body>

</html>
